@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-slab: 'Roboto Slab', serif;
}

/* Default body font = Roboto */
body {
  margin: 0;
  font-family: var(--font-roboto), sans-serif;
  background-color: #fefefb;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

/* 
  A custom class for Roboto Slab.
  Apply this to any text that needs Slab 
*/
.slab {
  font-family: var(--font-roboto-slab), serif;
}
