@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root {
  --font-raleway: 'Raleway', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-roboto), sans-serif;
  font-family: var(--font-roboto-slab), serif;
  background-color: #fafcff;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

